<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780315119751-v3plmmh5gh2ng8sn283qd22j5939als2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780315119751-v3plmmh5gh2ng8sn283qd22j5939als2</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTX7w_yT6dttDYvfifAmdE8HQ8PR-kJo</string>
	<key>GCM_SENDER_ID</key>
	<string>780315119751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testingFirebase</string>
	<key>PROJECT_ID</key>
	<string>test-database-9a372</string>
	<key>STORAGE_BUCKET</key>
	<string>test-database-9a372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780315119751:ios:da43aaa882878fd1226822</string>
	<key>DATABASE_URL</key>
	<string>https://test-database-9a372-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>